{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title repository.project.name %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ repository.project.name }}
            {% if repository.owner %}
                &raquo; {{ repository.owner.fullname }}
            {% endif %}
            &raquo; {{ reference }}
        </h1>
    </div>
    {% render "GitonomyFrontendBundle:Repository:blockNavigation" with {'id': repository.id, 'active': 'commits'} %}
    {% render "GitonomyFrontendBundle:Repository:blockCommitHistory" with {'id': repository.id, 'reference': reference } %}
{% endblock %}
