{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title repository.project.name %}

{% block content %}
    <div class="page-header">
        <h1>{% if repository.owner %}{{ repository.owner.fullname }} / {% endif %}{{ repository.project.name }} <small>Repository</small></h1>
    </div>
    {% render "GitonomyFrontendBundle:Repository:blockNavigation" with {'id': repository.id} %}
    <div class="page-header">
        <h2>Last commits on branch {{ repository.mainBranch }}</h2>
    </div>
    {% render "GitonomyFrontendBundle:Repository:blockCommitHistory" with {'id': repository.id, 'reference': reference } %}
{% endblock %}
