{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% block title '<your project here> - Overview' %}

{% set global_navigation = 'preferences' %}
{% set local_navigation = 'source' %}

{% block project_content %}
        <h2>lol</h2>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
        <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
            <p>bla bla bla</p>
{% endblock %}
