{% for type in ['warning', 'info', 'success', 'error'] %}
    {% if app.session.flashBag.has(type) %}
        {% for message in app.session.flashBag.get(type) %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}
