{% for type in ['warning', 'info', 'success', 'error'] %}
    {% if app.session.flashBag.has(type) %}
        <div class="alert alert-{{ type }}">{{ app.session.flashBag.get(type) }}</div>
    {% endif %}
{% endfor %}
