{% extends "GitonomyWebsiteBundle::base.html.twig" %}

{% block body_class 'splash' %}

{% block body %}
    <div id="splash-wrapper">
        <div id="splash-hero">
            <h1>{{ config.get('name') }}</h1>
            <h2>{{ config.get('baseline') }}</h2>
        </div>
        <div id="splash-content">
            <div>
                {% include "GitonomyWebsiteBundle::flashes.html.twig" %}
                {% block content '' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block before_body_end %}
    {% block javascript_content '' %}
{% endblock %}
