{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% trans_default_domain 'administration_role' %}

{% block title 'page.title.edit'|trans({'%name%': role.name}) %}

{% set local_navigation = 'roles' %}

{% block administration_content %}
    <div id="content">
        {{ form(form, {action: path('administration_editRole', {id: role.id})}) }}
    </div>
{% endblock %}
