{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% set local_navigation = 'roles' %}

{% block administration_content %}
    <h2>Visitor</h2>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
{% endblock %}
