{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% set local_navigation = 'users' %}

{% block administration_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Username</th>
                <th>E-mails</th>
                <th>Timezone</th>
                <th>Culture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
            <tr>
                <td>Alexandre Salomé</td>
                <td>alex</td>
                <td>alexandre.salome@gmail.com, wodkaist@gmail.com</td>
                <td>Europe/Paris</td>
                <td>fr_FR</td>
                <td><button class="btn">Actions <i class="symbol">dropdown</i></button></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
