.file-wrapper .file {
  margin-top: 10px;
}

.file-wrapper .file > header {
  background-color: #efefef;
  padding: 10px;
}

.file-wrapper .file > header span.file {
  font-weight: bold;
}


.file-wrapper .file > header span.file.deleted {
  font-weight: normal;
  text-decoration: line-through;
}


.file-wrapper table.file-lines {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #dfdfdf;
  width: 100%;
}

.file-wrapper table.file-lines td {
  font-family: monospace;
}

.file-wrapper table.file-lines td.line-number {
  padding: 0 5px;
  background-color: #efefef;
  border-right: 1px solid #dfdfdf;
}

.file-wrapper table.file-lines td.source {
  width: 100%;
}

.file-wrapper table.file-lines td.source pre {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.file-wrapper table.file-lines td.source.plus {
  background-color: #ddffdd;
}

.file-wrapper table.file-lines td.source.minus {
  background-color: #ffdddd;
}

.file-wrapper table.file-lines td.skip {
  background-color: #efefef;
}

