.gitonomy-browser .ref {
    background-color: #ddd;
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.gitonomy-browser .ref.branch {
    background-color: #33ff33;
}

.gitonomy-browser .ref.branch.remote {
    background-color: #e5e100;
}

.gitonomy-browser .ref.tag {
    background-color: black;
    color: white;
}

span.git-author {
    background-color: #ddeeff;
    display: inline-block;
    padding: 1px 5px;
}

.git-log-wrapper {
    position: relative;
    overflow: hidden;
}

.git-log {
    width: 100%;
    position: relative;
    z-index: 1;
}

.git-log-wrapper svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

.git-log thead th a,
.git-log tfoot th a
{
    display: block;
    background-color: #efefef;
    font-weight: normal;
    padding: 1em;
}

.git-log th, .git-log td {
    line-height: 1.2em;
}

.git-log th {
    text-align: left;
    background-color: #e7e7e7;
    line-height: 1.8em;
}
