default:
    extensions:
        Gitonomy\QA\GitonomyExtension:
            app_dir:  app
        Alex\MailCatcher\Behat\MailCatcherExtension\Extension: ~
        WebDriver\Behat\WebDriverExtension\Extension:
            timeout:  15000
