server:
    build: "docker"
    environment:
        PUBLIC_KEY: "PUT YOUR SSH KEY HERE"
        USER_UID: "1000"
        USER_GID: "1000"
    volumes:
        - ".:/gitonomy"
    ports:
        - "80:80"
        - "22:22"
