<ul class="nav nav-tabs">
    {% if reference|default(null) %}
        <li>
            <a><em>on {{ reference }}</em></a>
        </li>
    {% endif %}
    <li{% if active == "project" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug}) }}">
            Overview
        </a>
    </li>
    <li{% if active == "history" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_history', {slug: project.slug, reference: reference }) }}">
            History
        </a>
    </li>
    <li{% if active == "source" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_showTree', {slug: project.slug, reference: reference}) }}">
            Source
        </a>
    </li>
</ul>
