{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name %}

{% block content_javascript %}
    <script>
        data = {{ data|json_encode|raw }};

        var line_height = 15,
            padding     = 10,
            height      = data.length * line_height + 2*padding
            width       = 900 + 2*padding
        ;

        var xAxis = d3.scale.linear()
            .domain([0, data.length])
            .range([padding, padding + width])
        ;

        var yAxis = d3.scale.linear()
            .domain([0, data.length])
            .range([padding, padding + height])
        ;

        var history = d3.select("#history")
            .append('svg')
            .attr('width', width)
            .attr('height', height)
        ;

        var graph = commit_graph(data);

        var commits = history
            .selectAll('circle')
            .data(graph.nodes())
        ;

        var links = history
            .selectAll('path')
            .data(graph.links())
        ;

        var commit_line = d3.svg.line()
            .x(function (d) {
                return xAxis(d.x);
            })
            .y(function (d) {
                return yAxis(d.y);
            })
        ;

        commits.enter()
            .append('circle')
            .attr('cx', function (node) {
                return xAxis(node.x);
            })
            .attr('cy', function (node) {
                return yAxis(node.y);
            })
            .attr('r', 4)
        ;

        links.enter()
            .append('path')
            .attr('d', commit_line)
            .style('stroke', 'black')
            .style('stroke-width', '2')
            .style('fill', 'none')

        function commit_graph(commits) {
            var nodes = [],
                links = [],
                commit
            ;

            for (i in commits) {
                commit = commits[i];

                nodes.push({
                    x: i,
                    y: i
                });

                if (i > 0) {
                    links.push([
                        {
                            x: i - 1,
                            y: i - 1
                        },
                        {
                            x: i,
                            y: i - 1
                        },
                        {
                            x: i,
                            y: i
                        }
                    ]);
                }
            }

            return {
                nodes: function () {
                    return nodes;
                },

                links: function () {
                    return links;
                }
            };
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% render "GitonomyFrontendBundle:Project:blockNavigation" with {slug: project.slug, active: 'history', reference: reference } %}
    <div class="page-header">
        <h2>History</h2>
    </div>
    <div id="history"></div>
{% endblock %}
