{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span2">
            {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" %}
        </div>
        <div class="span10">
            {% block right '' %}
        </div>
    </div>
{% endblock %}
