{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% set mode = codemirror_mode(path) %}

{% block title project.name ~ ' - Source - ' ~ path %}

{% block content %}
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'source'} %}
    {% include "GitonomyFrontendBundle:Project:_pathcrumb.html.twig" with {active: 'show'} %}
    <form id="code-wrapper" class="cm-s-lesser-elegant">
        <textarea id="code" name="code">{{ blob.content }}</textarea>
    </form>
{% endblock %}

{% block content_javascript %}
    <script type="text/javascript" src=""></script>
    <script type="text/javascript">
        CodeMirror.modeURL = "{{ asset('bundles/gitonomyfrontend/codemirror/mode/%N/%N.js') }}";
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            readOnly: true,
            lineNumberFormatter: function(ln) {
                return '<a name="L'+ ln +'"></a><a href="#L'+ ln +'">'+ ln +'</a>';
            }
        });
        editor.setOption("mode", '{{ mode }}');
        CodeMirror.autoLoadMode(editor, '{{ mode }}');
    </script>
{% endblock %}
