{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name ~ ' - Source - ' ~ path %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'source'} %}
    <h2>{% include "GitonomyFrontendBundle:Project:_pathcrumb.html.twig" %}</h2>
    <pre>{{ blob.content }}</pre>
{% endblock %}
