{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    <div class="well">
        <h2>How to make your first commit:</h2>
        <pre>git clone {{ project_ssh(project) }}
cd {{ project.slug }}
echo "Hello world" > README
git add -A
git commit -m "Hello world"
git push origin master
{% endblock %}
