{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name ~ ' - Thread ' ~ thread.reference %}

{% block content %}
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'thread'} %}
    <div class="thead-message-list row show-grid">
        {% for message in thread.messages %}
            {% set template = "GitonomyFrontendBundle:ThreadMessage:"~message.name~".html.twig" %}
            {% include template with {message: message} %}
        {% endfor %}
    </div>
{% endblock %}
