{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Graph</h1>
    </div>
    {% render "GitonomyFrontendBundle:Project:blockNavigation" with {'slug': project.slug, 'active': 'graph' } %}
{% endblock %}
