{% extends "GitonomyFrontendBundle:Project:layout.html.twig" %}

{% set active = "project" %}
{% set route_name = "gitonomyfrontend_project_show" %}
{% set route_parameters = {slug: project.slug} %}

{% block title project.name %}

{% block right %}
    <h2>SSH Access</h2>
    <pre>{{ project_ssh(project) }}</pre>
    <h2>Users on the project</h2>
    {% for userRole in project.userRoles %}
        <h3><a href="#">{{ userRole.user.fullname }}</a> <small>{{ userRole.role.name }}</small></h3>
    {% else %}
        <h3><small>No user associated to the project</small></h3>
    {% endfor %}
{% endblock %}
