<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title gitonomy.name %}</title>
        {% block stylesheets '' %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body '' %}
        {% block javascripts '' %}
    </body>
</html>
