{% extends "GitonomyWebsiteBundle::base.html.twig" %}

{% block before_head_end %}
    <link rel="stylesheet" href="{{ asset('bundles/gitonomydistribution/css/main.css') }}" />
{% endblock %}

{% block before_body_end %}
    {% block content_javascript '' %}
{% endblock %}

{% block body %}
    <div class="gitonomy-install">
        <header>
            <h1>Gitonomy <small>installation</small></h1>
        </header>
        <section>
            {% block content '' %}
        </section>
        <footer>
            <p>Gitonomy is beautiful and you are beautiful, too.</p>
        </footer>
    </div>
{% endblock %}
