{% extends "GitonomyDistributionBundle:Configuration:step.html.twig" %}

{% block step_content %}
    <h2>End of installation</h2>
    <p>
        You can come back to this page at any moment if you want to reconfigure
        the application.
    </p>
    <p class="welcome-buttons">
        <a class="btn" href="{{ path('splash_login') }}">Go to app &raquo;</a>
    </p>
{% endblock %}
