{% extends "GitonomyDistributionBundle::layout.html.twig" %}

{% block content %}
    <p>
        {% spaceless %}
        {% if app.request.attributes.get('_route') == 'gitonomydistribution_configuration_welcome' %}
            <span style="background-color: yellow">
        {% else %}
            <span>
        {% endif %}
        <a href="{{ path('gitonomydistribution_configuration_welcome') }}">Welcome</a>
        </span>
        {% endspaceless %}
        -
        {% for step in steps %}
            {% spaceless %}
                {% if _parent.step is defined and step.slug == _parent.step.slug %}
                    <span style="background-color: yellow">
                {% elseif not step.status(parameters) %}
                    <span style="background-color: red">
                {% else %}
                    <span>
                {% endif %}
                <a href="{{ path('gitonomydistribution_configuration_step', {slug: step.slug}) }}">{{ step.name }}</a>
                </span>
            {% endspaceless %}
            -
        {% endfor %}
        {% spaceless %}
            {% if app.request.attributes.get('_route') == 'gitonomydistribution_configuration_finish' %}
                <span style="background-color: yellow">
            {% else %}
                <span>
            {% endif %}
            <a href="{{ path('gitonomydistribution_configuration_finish') }}">Finish</a>
            </span>
        {% endspaceless %}
    </p>
    {% block step_content '' %}
{% endblock %}
