{% extends "GitonomyDistributionBundle:Configuration:step.html.twig" %}

{% block step_content %}
    <h2>Configure Mailer</h2>
    <form action="{{ path('gitonomydistribution_configuration_saveStep', {slug: step.slug}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p><input type="submit" value="Save" /></p>
    </form>
{% endblock %}
