imports:
    - { resource: config.yml }

doctrine:
    orm:
        # metadata_cache_driver: apc
        # result_cache_driver:   apc
        # query_cache_driver:    apc

twig:
    exception_controller:     Gitonomy\Bundle\WebsiteBundle\Controller\ErrorController::showAction

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  %kernel.logs_dir%/%kernel.environment%.log
            level: debug
