{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Profile' %}
{% set navigation_active = 'index' %}

{% block column_right %}
    <div class="page-header">
        <h1>Change username</h1>
    </div>
    <p>Sure, you are allowed to change your mind and your username on this website.</p>
    <p>Just tell us, what's the new username you want?</p>
    <form action="{{ path('gitonomyfrontend_profile_changeUsername') }}" method="POST">
        {{ form_widget(form) }}
        <p><input type="submit" class="btn primary" value="Abracadabra!" /></p>
    </form>
{% endblock %}
