{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Profile' %}
{% set navigation_active = null %}

{% block column_right %}
    <h2>Profile</h2>
    <p>@todo</p>
{% endblock %}
