{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Profile' %}
{% set navigation_active = 'index' %}

{% block column_right %}
    <div class="page-header">
        <h1>Profile <small>Edit your personal informations</small></h1>
    </div>
    <ul>
        <li><strong>Username:</strong> {{ app.user.username }} - <a href="{{ path('gitonomyfrontend_profile_changeUsername') }}">change my username</a></li>
    </ul>
    <hr />
    <form action="{{ path('gitonomyfrontend_profile_index') }}" method="POST" novalidate class="form-stacked">
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Save all those informations" />
    </form>
{% endblock %}
