{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Profile' %}
{% set navigation_active = null %}

{% block column_right %}
    <div class="page-header">
        <h2>Profile <small>Edit your personal informations</small></h2>
    </div>
    <ul>
        <li><strong>Username:</strong> {{ app.user.username }}</li>
        <li><strong>Emails:</strong>
            <ul>
                {% for email in app.user.emails %}
                    <li>{{ email.email }}{% if email.isDefault %} <em>(default)</em>{% endif %}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <hr />
    <form action="{{ path('gitonomyfrontend_profile_index') }}" method="POST" novalidate class="form-stacked">
        {{ form_widget(form) }}
        <input class="btn primary" type="submit" value="Save all those informations" />
    </form>
{% endblock %}
