{% extends "GitonomyWebsiteBundle::layout_splash.html.twig" %}

{% trans_default_domain 'forgot_password' %}

{% block title 'page.title'|trans %}

{% block content %}
    <form method="POST" action="{{ path('splash_postChangePassword', {username: username, token: token}) }}" class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <h2>{{ 'title.change'|trans }}</h2>
            </div>
        </div>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <p>
                    <button type="submit" class="btn btn-primary">{{ 'form.change.submit'|trans }}</button>
                </p>
            </div>
        </div>
    </form>
{% endblock %}
