{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Create role' %}
{% set navigation_active = null %}

{% block content %}
    <h1>Create role</h1>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_adminrole_create') }}" method="POST" novalidate>
        {% include('GitonomyFrontendBundle:AdminRole:form.html.twig') with {'form': form} only %}

        <input type="submit" class="btn success" value="Create" />
        <a href="{{ path('gitonomyfrontend_adminrole_list') }}" class="btn">Cancel</a>
    </form>
{% endblock %}