{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Welcome to Gitonomy' %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h2>Upcoming...</h2>
        </div>
        <div class="span6">
            <h2>My repositories</h2>
            <p>@todo</p>
        </div>
    </div>
{% endblock %}
