{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Welcome to Gitonomy' %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h2>Upcoming...</h2>
        </div>
        <div class="span6">
            <h2>My repositories</h2>
            {% for repository in app.user.repositories %}
                <div class="well">
                    <h3><a href="#">{{ repository.project.name }}</a></h3>
                </div>
            {% else %}
                <p><em>No repository found</em></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
