{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Welcome to Gitonomy' %}

{% block content %}
    <div class="hero-unit">
        {% if is_granted('AUTHENTICATED') %}
            <p>You are connected! Quick! Navigate with the menu!</p>
        {% else %}
            <h1>{{ gitonomy.name }}</h1>
            <p>{{ gitonomy.baseline }}</p>
            <p>
                <a href="{{ path('gitonomyfrontend_security_login') }}" class="btn primary large">Connect</a>
                {% if gitonomy.open_registration%}
                    <a href="{{ path('gitonomyfrontend_security_register') }}" class="btn large">Register</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endblock %}