{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Forgot your password?' %}

{% block content_javascript %}
    <script type="text/javascript">
        jQuery(window).load(function (){
            jQuery("#forgot_password_request_email").focus();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Change password for {{ user.fullname }}</h1>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_security_changePassword', { 'username': user.username, 'forgotPasswordToken': token }) }}" method="POST" novalidate>
        <div class="well">
            <p>What's the new password you want?</p>
            {{ form_widget(form) }}
            <p>
                <input class="btn btn-primary" type="submit" name="login" value="Yeah, this password is so great!" />
            </p>
        </div>
    </form>
{% endblock %}
