{% extends "GitonomyFrontendBundle::layout.mail.twig" %}

{% block subject parent() ~ 'Retrieve your password' | raw %}

{% block content_html %}
{% set url = url('gitonomyfrontend_security_changePassword', {'username': user.username, 'forgotPasswordToken': user.forgotPasswordToken }) %}
<p>Someone (maybe you?) requested to change the password for this mail.</p>

<p>If you want, click this link:</p>

<p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}

{% block content_text %}
{% set url = url('gitonomyfrontend_security_changePassword', {'username': user.username, 'forgotPasswordToken': user.forgotPasswordToken }) %}
Someone (maybe you?) requested to change the password for this mail.

If you want, click this link:

{{ url }}
{% endblock %}
