{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Forgot your password?' %}

{% block content_javascript %}
    <script type="text/javascript">
        jQuery(window).load(function (){
            jQuery("#forgot_password_request_email").focus();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Forgot your password ?</h1>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_security_forgotPassword') }}" method="POST" novalidate>
        <div class="well">
            <p>Our life are too short to borrow with passwords, keys and other complicated things.</p>
            <p>Let's try to retrieve your access as fast as possible:</p>
            {{ form_widget(form) }}
            <p>
                <input class="btn btn-primary" type="submit" name="login" value="Send me a mail with a link" />
            </p>
        </div>
    </form>
{% endblock %}
