{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% block title project.name ~ ' - Project is empty' %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'empty' %}

{% block project_content %}
    <div id="content">
        <h2>How to make your first commit:</h2>
        <pre>git clone {{ gitonomy.ssh_access~':'~project.slug~'.git' }}
cd {{ project.slug }}
echo "Hello world" > README
git add -A
git commit -m "Hello world"
git push origin master
    </div>
{% endblock %}
