{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block title 'page.title'|trans({':branch': project.name}) %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'newsfeed' %}

{% block project_content %}
    <div class="actionbar">
        {% include "GitonomyWebsiteBundle:Project:_branchActivity.html.twig" with {
            project: project,
            branch:  branch,
            route:   'project_newsfeed',
            withAll: true
        } only %}
    </div>
    {{ include('GitonomyWebsiteBundle::pagination.html.twig', {pager: messages, page: app.request.query.get('page', 1)}) }}
    <div class="newsfeed">
        {% for message in messages %}
            {% set template = "GitonomyWebsiteBundle:Message:"~message.name~".html.twig" %}
            {% include template with {message: message} %}
        {% endfor %}
    </div>
    {{ include('GitonomyWebsiteBundle::pagination.html.twig', {pager: messages, page: app.request.query.get('page', 1)}) }}
{% endblock %}
