{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block title 'page.title'|trans({':branch': project.name}) %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'newsfeed' %}

{% block project_content %}
    <div class="actionbar">
        {% render "GitonomyWebsiteBundle:Project:_branchActivity" with {project: project.slug, reference: reference, route: 'project_newsfeed', withAll: true} %}
    </div>
    <div class="newsfeed">
        {% for message in messages %}
            {% set template = "GitonomyWebsiteBundle:Message:"~message.name~".html.twig" %}
            {% include template with {message: message} %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascript_content %}
    <script type="text/javascript">
        $(function(){
            var newsfeed   = $(".newsfeed");
            var width     = newsfeed.width();
            var key       = newsfeed.find(".news").eq(0);
            var cardWidth = key.outerWidth(true);
            var newWidth  = Math.floor(width / cardWidth) * cardWidth;

          $('.newsfeed').masonry({
            itemSelector : '.news',
            columnWidth : cardWidth
          });
        });
    </script>
{% endblock %}
