{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% block title app.request.attributes.get('slug') ~ ' - Tags' %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'tags' %}

{% block project_content %}
    <h2>Tags</h2>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
    <p>bla bla bla</p>
{% endblock %}
