{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Register' %}
{% set navigation_active = null %}

{% block content %}
    <h1>Register</h1>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_user_register') }}" method="POST" novalidate>
        {{ form_widget(form) }}
        <input type="submit" class="btn" value="Register" />
    </form>
{% endblock %}