i.symbol {
    font-family: 'ligature';
    font-size: 1.2em;
    font-style: normal;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
}

.btn-small i.symbol {
    font-size: 20px;
}

table.table .btn-group {
    height: 1em;
    margin-top: -3px;
}

span.behind {
    color: red;
}

span.above {
    color: green;
}

.blob-image {
    display: inline-block;
    background-image: url(../images/trans_bg.gif);

    img {
        border: 1px solid white;
    }
}
