input[type="checkbox"]
{
    float:left;
    margin-right:5px;
}

/** Commit list block **/

.commit-list
{
    border: 1px solid #ccc;
}

.commit-list img.avatar
{
    vertical-align: middle;
}

.commit-list > tbody > tr > td
{
    padding: 0 4px;
}

.commit-list > tbody > tr > td.message > a
{
    font-size: 12px;
    color: black;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
}

.commit-list > tbody > tr > td.author
{
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}

/** Branch list **/

ul.branch-list > li.active span.name {
    font-weight: bold;
}

ul.branch-list > li span.behind {
    color: red;
}

ul.branch-list > li span.above {
    color: green;
}

ul.branch-list > li span.last-modification {
    color: lightgrey;
}

/** History graph **/

.history-graph {
    position: absolute;
}

.history-graph > svg {
    float: right;
}

/** Project card **/

.project-card .branches-tags
{
  padding-top: 1em;
}

/** CodeMirror **/

#code-wrapper
{
    font-size: 15px;
}

#code-wrapper .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

/** Thread message **/

.thread-message span.message-red {
    color:red;
}
.thread-message span.message-green {
    color:green;
}
.thread-message span.message-blue {
    color:blue;
}

.thread-message .time {
    float:right;
    padding-right:10px;
    color:#bbb;
}

.thread-message .account-group {
    padding-left:10px;
}

.thread-message .message {
    background-color:#ffffff;
}

/* Special grid styles
-------------------------------------------------- */

.show-grid [class*="span"] {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
