{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Create '~object_type %}
{% set navigation_active = null %}


{% block content %}
    <div class="page-header">
        <h1>Create new {{ object_type }}</h1>
    </div>
    <form class="form-stacked" action="{{ path(route_prefix~'_create') }}" method="POST" id="{{ object_type }}" novalidate="novalidate">
        {% include [controller_prefix~':form.html.twig', 'GitonomyFrontendBundle:BaseAdmin:form.html.twig'] with { 'form': form } only %}
        <hr />
        <input type="submit" class="btn btn-success" value="Create" />
        <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
    </form>
{% endblock %}
