{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Create '~object_type %}
{% set navigation_active = null %}

{% block content %}
    <h1>Create {{ object_type }}</h1>
    <form class="form-stacked" action="{{ path(route_prefix~'_create') }}" method="POST" novalidate="novalidate">
        {% include [controller_prefix~':form.html.twig', 'GitonomyFrontendBundle:BaseAdmin:form.html.twig'] with { 'form': form } only %}

        <input type="submit" class="btn success" value="Create" />
        <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
    </form>
{% endblock %}