{% extends "GitonomyWebsiteBundle:Message:message.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block sentence %}
    {% set count = message.commitCount %}
    {% if message.isForce %}
        {{ 'message.commit_forced'|trans({'%commits%': 'inline.commits'|transchoice(count)})|replace({'%ref%': message.shortReferenceName, '%before_verb%': '<span class="message-blue">', '%after_verb%': '</span>'})|raw }}
    {% else %}
        {{ 'message.commit_pushed'|trans({'%commits%': 'inline.commits'|transchoice(count)})|replace({'%ref%': message.shortReferenceName, '%before_verb%': '<span class="message-blue">', '%after_verb%': '</span>'})|raw }}
    {% endif %}
{% endblock %}

{% block message %}
    {% set count = message.commitCount %}
    {% include "GitonomyWebsiteBundle:Project:_commitList.html.twig" with {log: message.commits, slug: message.feed.project.slug} only %}
    {% if count > 1 %}
        <p>
            <a href="{{ path('project_compare', {slug: message.feed.project.slug, revision: message.revision}) }}">
                <small>{{ 'message.view_diff'|transchoice(count) }}</small>
            </a>
        </p>
    {% endif %}
{% endblock message %}
