{% extends "GitonomyWebsiteBundle:Message:message.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block sentence 'message.thread_created'|trans|replace({'%before_verb%': '<span class="message-green">', '%after_verb%': '</span>'})|raw %}
