{% extends "GitonomyWebsiteBundle:Message:message.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block sentence 'message.post'|trans %}

{% block message %}
    <p>{{ message.message }}</p>
{% endblock message %}
