{% extends "GitonomyFrontendBundle:BaseAdmin:list.html.twig" %}

{% block admin_list_thead %}
<tr>
    <th>Name</th>
    <th>Slug</th>
</tr>
{% endblock %}

{% block admin_list_row %}
<tr>
    <td>
        <a href="{{ path(route_prefix~'_edit', {'id': object.id}) }}">
            {{ object.name }}
        </a>
    </td>
    <td>{{ object.slug }}</td>
</tr>
{% endblock %}

