i.symbol
    font-family: 'ligature'
    font-size: 1.2em
    font-style: normal
    -webkit-text-rendering: optimizeLegibility
    -moz-text-rendering: optimizeLegibility
    -ms-text-rendering: optimizeLegibility
    -o-text-rendering: optimizeLegibility
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-font-smoothing: antialiased
    -ms-font-smoothing: antialiased
    -o-font-smoothing: antialiased
    font-smoothing: antialiased
    -webkit-font-feature-settings: "liga" 1, "dlig" 1
    -moz-font-feature-settings: "liga=1, dlig=1"
    -ms-font-feature-settings: "liga" 1, "dlig" 1
    -o-font-feature-settings: "liga" 1, "dlig" 1
    font-feature-settings: "liga" 1, "dlig" 1

.btn-small i.symbol
    font-size: 20px

table.table .btn-group
    height: 1em
    margin-top: -3px

span.behind
    color: red

span.above
    color: green

.blob-image
    display: inline-block
    background-image: url(../images/trans_bg.gif)

    img
        border: 1px solid white


$blameBorder:       #cfcfcf
$blameInfoBg:       #f8f8f8
$blameLineNumberBg: #efefef
$blameLineNumberFg: #444444

.blame
    width: 100%

    td.informations
        width: 200px
        font-size: 12px
        background-color: $blameInfoBg

        span.date

        span.author
            font-weight: bold

    td.informations, .informations-border
        border-top: 1px solid $blameBorder

    td.line-number
        width: 50px
        color: $blameLineNumberFg
        background-color: $blameLineNumberBg
        padding: 0 0.3em 0 0.6em

    td.line-content

    pre
        border: 0
        padding: 0
        margin: 0
        background: none
