{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Edit role '~role.name %}
{% set navigation_active = null %}

{% block content %}
    <h1>Create role</h1>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_role_edit', {'id':role.id}) }}" method="POST" novalidate>
        {% include('GitonomyFrontendBundle:Role:form.html.twig') with {'form': form} only %}

        <input type="submit" class="btn success" value="Update" />
        <a href="{{ path('gitonomyfrontend_role_list') }}" class="btn">Cancel</a>
        <a href="{{ path('gitonomyfrontend_role_delete', {'id':role.id}) }}" class="btn danger">Delete</a>
    </form>
{% endblock %}