{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Symfony - Configure Gitonomy{% endblock %}

{% block content %}
    {% form_theme form "GitonomyDistributionBundle::Configurator/form.html.twig" %}
    {% include "SensioDistributionBundle::Configurator/steps.html.twig" with { "index": index, "count": count } %}

    <h1>Configure Gitonomy</h1>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }}" method="POST">
        {{ form_row(form.repository_path) }}

        {{ form_rest(form) }}

        <div class="symfony-form-footer">
            <p><input type="submit" value="Next Step" class="symfony-button-grey" /></p>
            <p>* mandatory fields</p>
        </div>
    </form>
{% endblock %}
