{% for type in ['warning', 'info', 'success', 'error'] %}
    {% if app.session.hasFlash(type) %}
        <div class="alert alert-{{ type }}">{{ app.session.getFlash(type) }}</div>
    {% endif %}
{% endfor %}
