{% for type in ['warning', 'info', 'success', 'error'] %}
    {% if app.session.hasFlash(type) %}
        <div class="alert-message {{ type }}">
            <p>{{ app.session.getFlash(type) }}</p>
        </div>
    {% endif %}
{% endfor %}
