.history-graph-wrapper
    position: relative
    overflow: hidden

    > table
        position: relative
        z-index: 200

    > svg
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 100
