$orange: #ff8821
$lightgrey: #efefef
$cell: 50px

.actionbar
    margin: 8px 0 2px
    height: 30px

    a.menu
        font-family: tellural

    > .pull-right
        margin-left: 20px

    > .btn-group
        font-size: 1em
        cursor: pointer

        a
            color: black
            padding: 10px
            line-height: 1em

            > .pull-right
                background-color: white
                line-height: 1em

        .caret
            margin-top: 7px

        span.behind , span.above
            font-size: 0.7em

        span.behind
            color: red

        span.above
            color: green

    .btn-group.open
        .dropdown-toggle
            box-shadow: none
            -webkit-box-shadow: none

.newsfeed
    overflow: hidden

    > .news
        float: left
        width: 400px
        margin: 10px
        border: 1px solid $lightgrey

        div
            padding: 0 5px

        &.small-news
            width: 200px

        .time
            font-size: 0.7em

        .time
            border-top: 1px solid $lightgrey
