body, div, p, h1 {
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ff8821;
}

.gitonomy-install {
    width:  960px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 1em;
}

/** fonts **/
@font-face {
    font-family: 'telluralregular';
    src: url('../fonts/tellural.eot');
    src: url('../fonts/tellural.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tellural.woff') format('woff'),
         url('../fonts/tellural.ttf') format('truetype'),
         url('../fonts/tellural.svg#telluralregular') format('svg');

    font-weight: normal;
    font-style: normal;
}


/*** buttons ***/

a.btn {
    display: inline-block;
    padding: 0.5em 1em;
    background: #ff8821;
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    border-radius: 1em;
}

/*** header ***/

.gitonomy-install h1, .gitonomy-install em {
    text-align: center;
}

.gitonomy-install h1 {
    font-weight: normal;
    font-family: "telluralregular";
    padding: 0.2em 0 0 0;
    font-size: 64px;
    color: #ff8821;
}

.gitonomy-install h1 small {
    font-size: 42px;
    color: black;
}

/** footer **/

.gitonomy-install footer {
    padding: 3em 0 0 0;
    text-align: center;
    color: grey;
}

/*** menu ***/

.gitonomy-install ul.menu {
    text-align: center;
}

.gitonomy-install ul.menu > li {
    display: inline-block;
    padding: 0.5em 0.2em;
}

.gitonomy-install ul.menu a {
    margin:  0 0.5em;

    text-decoration: none;

    color: grey;
}

.gitonomy-install ul.menu li.error a {
    color: #ff8821;
}

.gitonomy-install ul.menu li.active a {
    color: black;
    text-decoration: underline;
}

.gitonomy-install ul.menu li.error {
    border:             1px solid #ff8821;
    -moz-border-radius: 24px;
    border-radius:      24px;
}

/*** forms ***/

.gitonomy-install form label {
    display: block;
    width: 240px;
    font-weight: bold;
    padding-top: 0.6em;
    padding-bottom: 0.1em;
    float: left;
}

.gitonomy-install form .control-group.checkbox {
    padding-left: 240px;
}

.gitonomy-install form .control-group {
    overflow: hidden;
    clear: both;
    padding-bottom: 10px;
}

/** common **/

.gitonomy-install p {
    padding: 0.5em 1em;
}

.gitonomy-install h2 {
    padding: 0 1em;
}

.gitonomy-install form {
    padding: 0 1em;
}

/** welcome page **/

.welcome-buttons {
    text-align: right;
    padding: 1em;
}
